/* Global style */

:root {
    --primary-color: #747474;
    --secondary-color: #000;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    background-color: #eee;
}

#content {
    margin: 0 auto;
}

/* Sidebar */

#sidebar {
    width: 100%;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

#sidebar h1 {
    color: var(--primary-color);
    font-size: 3rem;
    padding: 90px 0;
}

#sidebar h1 span {
    display: block;
}

ul {
    margin: 0;
    width: 100%;
}

#sidebar a {
    text-decoration: none;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px;
}

#sidebar li:hover {
    background-color: #ccc;
    color: var(--secondary-color);
}

/* Grid portfolio */

#portfolio {
    width: 100%;
    padding-left: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

#portfolio div img {
    width: 100%;
    margin-bottom: -4px;
    opacity: 0.8;
    cursor: pointer;
}

#portfolio div img:hover {
    opacity: 1;
}

/* Pagination */

.pagination {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    margin: 3rem 0;
    padding-left: 300px;
}

.pagination a {
    font-size: 1.8rem;
    padding: 0.9rem 1.8rem;
    text-decoration: none;
    color: #303030;
}

.pagination .p-item {
    background-color: var(--secondary-color);
    color: #f1f1f1;
}

.button:hover {
    background-color: var(--secondary-color);
    color: #f1f1f1;
}

/* About */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    background-color: #707070;
    color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}

#about h2 {
    font-size: 2.6rem;
    padding: 4rem;
}

#about .name {
    padding: 2.5rem 0;
}

#about img,
#about .intro{
    width: 100%;
    max-width: 600px;
}

.intro p {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

.intro span {
    display: block;
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

#about .subtitle {
    padding-left: 0;
}

.divisor {
    margin-top: 2.5rem;
    color: #fff;
}

#about h3 {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-weight: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* technical skills section */

.progress-bar {
    width: 100%;
    background-color: #fff;
    text-align: center;
    color: #000;
    margin: 2rem 0;
}

.progress-bar div {
    font-size: 1.4rem;
    padding: 0.8rem;
    background-color: #a0a0a0;
}

.photography-bar {
    width: 95%;
}

.web-design-bar {
    width: 85%;
}

.photoshop-bar {
    width: 80%;
}

.download-button {
    display: inline-block;
    background-color: #fff;
    color: #303030;
    padding: 2rem;
    margin: 1.5rem 0;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
}

.download-button:hover {
    background-color: #a0a0a0;
    transition: 600ms;
}

/* price section */

.price-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.price-table {
    width: 100%;
    background-color: #fff;
    color: #707070;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 5rem;
}

.price-table:hover {
    opacity: 1;
}

.price-table tr td,
.price-table tr th{
    padding: 1.5rem 0;
    border-bottom: 1px solid #a0a0a0;
}

.price-table tr th {
    background-color: #000;
    color: #fff;
    padding: 4rem 0;
    font-size: 3rem;
}

.price {
    font-size: 3.2rem;
    font-family: fantasy;
}


.price-table tr .sign-up-btn {
    background-color: #d0d0d0;
    padding: 3rem 0;
}

.price-table tr .sign-up-btn a{
    text-decoration: none;
    background-color: #fff;
    color: #707070;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
}

/* Contact Section */

#contact {
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: #f0f0f0;
    color: #606060;
    text-align: left;
    padding-bottom: 5rem;
}

#contact form {
    display: grid;
    grid-template-rows: auto auto auto auto;
    max-width: 600px;
    width: 100%;
}

#contact form legend {
    color: #000;
    font-weight: 500;
    font-size: 2rem;
    padding: 5rem 0 2rem 0;
}

#contact form p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 2rem;
}

#contact form label {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

#contact form input {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
}

.contact-btn {
    background-color: #000;
    color: #f0f0f0;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
}

.contact-btn:hover {
    color: #606060;
    background-color: #c0c0c0;
}

/* footer section */

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    color: #202020;
    background-color: #9e9e9e;
}

#footer h2 {
    padding-left: 0;
    padding-bottom: 2rem;
}

#footer .info {
    padding-left: 3rem;
    padding-right: 3rem;
}

#footer .info p {
    font-size: 1.5rem;
}

#footer .post-box-flex {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.post-box-flex a {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 2rem;
}

.post-box-flex a:hover {
    color: #ddd;
    background-color: #404040;
}

.post-box-flex a div {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    justify-content: space-evenly;
}

.post-box-flex a div p {
    font-size: 1.5rem;
}

.post-box-flex a img {
    grid-row: 1 span 2;
}

#footer .blog-post div img {
    width: 48px;
    height: 48px;

}

.post-box-flex .second-divisor {
    border: 1px solid #505050;
}

#footer .tags {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}


.tags .tag {
    font-size: 1.3rem;
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ddd;
    background-color: #404040;
}
.bottom {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 4rem;
    padding: 3rem;
    color: #a0a0a0;
    background-color: #000;
    width: 100%;
    grid-column: 1 / span 3;
}

@media (max-width: 1024px) {
    #sidebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        height: auto;
        padding: 10px 20px;
        position: fixed;
    }

    #sidebar h1 {
        padding: 0;
    }

    #sidebar h1 span {
        display: inline-block;
    }

    #sidebar nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 6rem;
    }

    #sidebar nav ul li,
    #sidebar nav ul li a {
        padding: 0;
    }
    
    #portfolio {
        padding-left: 0;
        padding-top: 65px;
    }
}

@media (max-width: 576px) {
    #sidebar {
        justify-content: center;
    }

    #sidebar h1 {
        display: none;
    }

    #sidebar nav ul li {
        padding: 10px;
    }

    #portfolio {
        padding-top: 43px;
        grid-template-columns: auto;
    }
}